<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2cmall.employee.dao.EmployeeMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_employee(shop_id,username,password,avatar_url) VALUES(#{shopId},#{username},#{password},#{avatarUrl})
        ON CONFLICT(shop_id,username) DO NOTHING
    </insert>
    <select id="find" resultType="com.b2cmall.employee.dao.po.EmployeePO">
        SELECT id, shop_id AS shopId, username, password, avatar_url AS avatarUrl,
        last_login_time AS lastLoginTime, login_count AS loginCount, status,
        created_at AS createdAt, updated_at AS updatedAt
        FROM tb_employee WHERE shop_id=#{shopId} AND username=#{username}
    </select>
</mapper>
