<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2cmall.shop.dao.MessageMapper">
    <insert id="saveWelcome">
        INSERT INTO tb_messages(shop_id,title,content,msg_type)
        SELECT #{shopId},#{title},#{content},1
        WHERE NOT EXISTS (SELECT 1 FROM tb_messages WHERE shop_id=#{shopId} AND title=#{title} AND msg_type=1)
    </insert>
</mapper>
